﻿
.bkTitolo {
    background-color: whitesmoke;
    padding: 4px;
    margin: 4px;
    text-align: center;
    border-radius: 4px;
}

.bkLabel {
    background-color: white;
    padding-right: .41667em;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    line-height: 2.28571em;
    color: #333;
}

.alCn {
    width: 49%;
    display: inline-block;
    text-align: center !important;
}

.alSx {
    width: 49%;
    display: inline-block;
    text-align: left !important;
}

.alDx {
    width: 49%;
    display: inline-block;
    text-align: right !important;
}

.RadPicker .rcCalPopup, .RadPicker .rcTimePopup {
    height: 32px !important;
}
