﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Filters.ascx.cs" Inherits="MainCloud.Dashboard.Controls.Filters" %>

<telerik:RadFilter runat="server" ID="Filter" RenderMode="Lightweight" ExpressionPreviewPosition="Bottom"
    DataSourceControlID="EntityDataSource">
</telerik:RadFilter>

<%--<asp:EntityDataSource ID="EntityDataSource" runat="server" ConnectionString='<%# "name=" + ConnectionStringName %>'
    DefaultContainerName="<%# ConnectionStringName %>" EntitySetName="<%# EntityName %>"
    EnableDelete="True" EnableFlattening="False" EnableInsert="True" EnableUpdate="True">
</asp:EntityDataSource>--%>

<asp:EntityDataSource ID="EntityDataSource" runat="server">
</asp:EntityDataSource>