﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MachineView_Settings.ascx.cs" Inherits="MainCloud.Dashboard.Modules.Fiera.MachineView.MachineView_Settings" %>

<asp:Label ID="lblddArea" runat="server" Text="Area di destinazione dopo la selezione di un Asset" AssociatedControlID="ddlArea"></asp:Label>
<mcf:DropDownListArea ID="ddlArea" runat="server"></mcf:DropDownListArea>