﻿
.cpeBkTitolo {
    background-color: whitesmoke;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

.cpeBkLabel {
    background-color: white;
    padding-right: .41667em;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    line-height: 2.28571em;
    color: #333;
}

.cpeAlCn {
    display: inline-block;
    text-align: center !important;
}

.cpeAlSx {
    display: inline-block;
    text-align: left !important;
}

.cpeAlDx {
    display: inline-block;
    text-align: right !important;
}

#panelOkNoPadContainer button {
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    font-size: 1em;
    border-radius: .25em;
    height: 60px;
    width: 380px;
}

#panelOkNoPadContainer button:active {
    background-color: #CFCFCF !important;
    box-shadow: 0 3px 5px rgba(0,0,0,0.125) inset;
    outline: 0 !important;
}

#panelOkNoPadContainer button:hover, #panelOkNoPadContainer button::selection, #panelOkNoPadContainer button:focus #panelOkNoPadContainer button::-moz-selection {
    background-color: #E0E0E0 !important;
    outline: 0 !important;
}

#panelOkNoPadContainer button:not(:focus) {
    background-color: #fff !important;
}

.inputLabel {
    cursor: pointer;
}

.nop {
    padding: 0 !important;
    margin: 0 !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.headerDiv {
    display: table;
    width: 100%;
}

.headerDiv div {
    display: table-cell;
    padding-left: 2px;
    padding-right: 2px;
}

.headerDiv div:first-child {
    padding-left: 0!important;
}

.headerDiv div:last-child {
    padding-right: 0!important;
}

.nmpd-grid button {
    height: 45px!important;
}

.nmpd-grid .done {
    height: 90px!important;
}