﻿body,
button,
input{
    font-size: 17px!important;
}

.btnSelect {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}

.btnView {
    min-height: 40px !important;
}

.btnFooter {
    width: 135px !important;
}

.btnActivity {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: #dddddd !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}

.btnActivityDisabled {
    min-width: 125px;
    min-height: 40px;
    /*border: 1px solid;*/
    background-color: #f2f2f2 !important;
    /*border-color: black !important;*/
    text-align: -webkit-center !important;
}

.btnActivityTable{
    min-width: 125px;
    min-height: 38px;
    border: 1px solid;
    /*font-weight: bold !important;*/
    background-color: #dddddd !important;
    border-color: black !important;
}

.btnActivityTableDisabled {
    min-width: 125px;
    min-height: 38px;
    background-color: #f2f2f2 !important;
}

.btnActivityHover {
    border-color: #c2c2c2;
    color: #333333;
    background-color: lightblue;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff;
}

.btnActivityClick {
    border-color: #c2c2c2;
    color: #333333;
    background-color: lightblue !important;
    background-image: linear-gradient();
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btnActivityRead {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: #ffecd2 !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}

.btnActivityWarning {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    background-color: LightGreen !important;
    border-color: black !important;
}

.btnOkToClick {
    background-color: rgb(78, 221, 61) !important;
}

.alDx {
    width: 100%;
    display: inline-block;
    text-align: right !important;
}

[id$='dlgSelectOrder_txtSearchOrder_wrapper']{
    float: left !important;
}

.textNoPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.noPaddingLeft {
    padding-left: 0px !important;
}
.noPaddingRight {
    padding-right: 0px !important;
}
.noPadding {
    padding: 0px !important;
}

.hyperLinkText a {
    color: black !important;
}
.hyperLinkText
{
    text-decoration: none;
    border: #000;
    min-width: 150px;
    min-height: 51px;
    background-color:transparent;
}

.labelComboBox {
    width: 89px !important;
    padding-right: 0px;
}

.RadGrid .rgGroupHeaderText {
    font-weight: bold !important;
}

#ctl00_MainContent_txtUserName_wrapper .riContentWrapper, #ctl00_MainContent_txtBadge_wrapper .riContentWrapper,
#ctl00_MainContent_txtUserName_wrapper .riContentWrapper, #ctl00_MainContent_txtRegistrationId_wrapper .riContentWrapper{
    padding-left: 0;
}

/*GridFermi remove page size dropdown*/
div.RadGrid.noPageSize .rgPager .rgAdvPart {
    display: none;
}
/*************************************/

/*Blink Alert*************************/
.blink{
    -webkit-animation: blink 700ms infinite alternate;
    -moz-animation: blink 700ms infinite alternate;
    -o-animation: blink 700ms infinite alternate;
    animation: blink 700ms infinite alternate;
}
@-webkit-keyframes blink {
	from { opacity:1; }
	to { opacity:0; }
}
@-o-keyframes blink {
	from { opacity:1; }
	to { opacity:0; }
}
@-moz-keyframes blink {
	from { opacity:1; }
	to { opacity:0; }
}
@keyframes blink {
	from { opacity:1; }
	to { opacity:0; }
}
/*************************************/

legend { 
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    font-size: 15px !important;
}

.progressWithoutMargin{
    margin-bottom: 0px !important;
}

/********************************************custom grid bootstrap********************************************************************/
.col-xs-custom-1 {
    float: left;
    width: 11.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-2 {
    float: left;
    width: 12.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-2-1 {
    float: left;
    width: 14%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-3 {
    float: left;
    width: 21.8333333325%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-3-1 {
    float: left;
    width: 22.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-4 {
    float: left;
    width: 27.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-4-1 {
    float: left;
    width: 32.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-5 {
    float: left;
    width: 37.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-custom-6 {
    float: left;
    width: 45.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .col-sm-custom-1 {
        float: left;
        width: 11.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-2 {
        float: left;
        width: 12.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-2-1 {
        float: left;
        width: 14%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-3 {
        float: left;
        width: 21.8333333325%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-3-1 {
        float: left;
        width: 22.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-4 {
        float: left;
        width: 27.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-4-1 {
        float: left;
        width: 32.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-5 {
        float: left;
        width: 37.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-custom-6 {
        float: left;
        width: 45.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .col-md-custom-1 {
        float: left;
        width: 11.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-2 {
        float: left;
        width: 12.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-2-1 {
        float: left;
        width: 14%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-3 {
        float: left;
        width: 21.8333333325%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-3-1 {
        float: left;
        width: 22.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-4 {
        float: left;
        width: 27.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-4-1 {
        float: left;
        width: 32.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-5 {
        float: left;
        width: 37.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-custom-6 {
        float: left;
        width: 45.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 1200px) {
    .col-lg-custom-1 {
        float: left;
        width: 11.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-2 {
        float: left;
        width: 12.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-2-1 {
        float: left;
        width: 14%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-3 {
        float: left;
        width: 21.8333333325%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-3-1 {
        float: left;
        width: 22.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-4 {
        float: left;
        width: 27.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-4-1 {
        float: left;
        width: 32.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-5 {
        float: left;
        width: 37.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-lg-custom-6 {
        float: left;
        width: 45.333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
/************************************************************************************************************************************/

/*****************************************semaforo qualità***************************************************************************/
#box-out{
  zoom:35%;
	background-image: linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -o-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -moz-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -ms-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0.15, rgb(66,74,70)),color-stop(0.58, rgb(142,148,148)));
	width:280px; height: 660px;
	border:solid 1px;
	border-radius: 10px;
	/*margin: 15px auto;*/
	padding: 20px 20px 20px 20px;
	transition:width 2s, height 2s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */

}
/*#box-out:hover{
	width:300px; height: 760px;
	transform:rotate (360deg);
	-webkit-transform:rotate(360deg);
}*/

#box-inside{
	/*background: black;*/
	background: rgb(10,8,9);
	background: -moz-linear-gradient(-45deg, rgba(10,8,9,1) 0%, rgba(10,8,9,1) 71%, rgba(10,8,9,1) 74%, rgba(10,8,9,1) 77%, rgba(10,8,9,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(10,8,9,1)), color-stop(71%,rgba(10,8,9,1)), color-stop(74%,rgba(10,8,9,1)), color-stop(77%,rgba(10,8,9,1)), color-stop(100%,rgba(10,8,9,1)));
	background: -webkit-linear-gradient(-45deg, rgbargba(10,8,9,1) 0%,rgbargba(10,8,9,1) 71%,rgbargba(10,8,9,1) 74%,rgbargba(10,8,9,1) 77%,rgba(10,8,9,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(10,8,9,1) 0%,rgba(10,8,9,1) 71%,rgba(10,8,9,1) 74%,rgba(10,8,9,1) 77%,rgba(10,8,9,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(10,8,9,1) 0%,rgba(10,8,9,1) 71%,rgba(10,8,9,1) 74%,rgba(10,8,9,1) 77%,rgba(10,8,9,1) 100%);
	background: linear-gradient(135deg, rgba(10,8,9,1) 0%,rgba(10,8,9,1) 71%,rgba(10,8,9,1) 74%,rgba(10,8,9,1) 77%,rgba(10,8,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=1 );
	border-radius: 10px;
	width:190px; height:580px;
	border: solid 1px;
	position:relative;
	padding: 20px 30px 20px 20px;
	/*margin: 15px auto;*/
	transition:width 2s, height 2s;
	-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
	margin: 20px auto auto 20px;
	 
}/*
#box-inside:hover{
	width:200px; height:670px;
	transform:rotate (360deg);
	-webkit-transform:rotate(360deg);
}*/

.light {
  height: 150px;
  width : 150px;
  border-radius: 50%;
  opacity : 0.3; /* makes colors less bright by default */
  margin: 0 auto;
  display: inline-block;
}

.tableLight {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /*opacity: 0.3;*/ /* makes colors less bright by default */
    margin: 0 auto;
    display: inline-block;
}

.stop {
    background-color: red;
}

.slow {
    background-color: yellow;
    margin-top: 40px;
}

.go {
    background-color: #14ea21;
    margin-top: 40px;
}

.on {
    opacity: 1;
}

/*************************Bottoni cambio stato macchina******************/
.setUpColor {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: yellow !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}

.productionColor {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: lightgreen !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}
.maintenanceColor {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: lightblue !important;
    border-color: black !important;
    text-align: -webkit-center !important;
}
/************************************************************************/

.tableNoCollapse .rgGroupCol{
    display: none !important;
}


/**************************************************************Start ProgressBar Milestone***************************************************************/
.vefs-milestone-wrapper .milestone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  height: 50px;
}
.vefs-milestone-wrapper .milestone-container .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}
.vefs-milestone-wrapper .milestone-container .chart-container .line-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 17.5px;
}
.vefs-milestone-wrapper .milestone-container .chart-container .line-container .line {
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  top: 8.75px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 5px;
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.5);
}
.vefs-milestone-wrapper .milestone-container .chart-container .line-container .line.left {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background-color: #bbbbbb;
}
.vefs-milestone-wrapper .milestone-container .chart-container .dot-container {
  position: absolute;
  height: 17.5px;
  width: 100%;
}
.vefs-milestone-wrapper .milestone-container .chart-container .dot-container .dot {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  background-color: #cccccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .chart-container .dot-container .dot.completed {
  background-color: #bbbbbb;
}
.vefs-milestone-wrapper .milestone-container .label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}
.vefs-milestone-wrapper .milestone-container .label-container .label {
  position: relative;
  font-size: 0.7rem;
  font-weight: 600;
  color: #cccccc;
}
.vefs-milestone-wrapper .milestone-container .label-container .label.colored {
  color: #bbbbbb;
}
.vefs-milestone-wrapper .milestone-container .milestones {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__1 {
  left: 1%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__1 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__2 {
  left: 2%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__2 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__3 {
  left: 3%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__3 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__4 {
  left: 4%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__4 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__5 {
  left: 5%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__5 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__6 {
  left: 6%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__6 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__7 {
  left: 7%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__7 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__8 {
  left: 8%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__8 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__9 {
  left: 9%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__9 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__10 {
  left: 10%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__10 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__11 {
  left: 11%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__11 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__12 {
  left: 12%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__12 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__13 {
  left: 13%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__13 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__14 {
  left: 14%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__14 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__15 {
  left: 15%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__15 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__16 {
  left: 16%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__16 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__17 {
  left: 17%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__17 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__18 {
  left: 18%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__18 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__19 {
  left: 19%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__19 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__20 {
  left: 20%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__20 .dot.colored {
  background-color: #ffbc42;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__21 {
  left: 21%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__21 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__22 {
  left: 22%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__22 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__23 {
  left: 23%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__23 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__24 {
  left: 24%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__24 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__25 {
  left: 25%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__25 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__26 {
  left: 26%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__26 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__27 {
  left: 27%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__27 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__28 {
  left: 28%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__28 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__29 {
  left: 29%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__29 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__30 {
  left: 30%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__30 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__31 {
  left: 31%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__31 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__32 {
  left: 32%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__32 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__33 {
  left: 33%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__33 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__34 {
  left: 34%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__34 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__35 {
  left: 35%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__35 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__36 {
  left: 36%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__36 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__37 {
  left: 37%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__37 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__38 {
  left: 38%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__38 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__39 {
  left: 39%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__39 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__40 {
  left: 40%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__40 .dot.colored {
  background-color: #d81159;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__41 {
  left: 41%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__41 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__42 {
  left: 42%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__42 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__43 {
  left: 43%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__43 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__44 {
  left: 44%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__44 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__45 {
  left: 45%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__45 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__46 {
  left: 46%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__46 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__47 {
  left: 47%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__47 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__48 {
  left: 48%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__48 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__49 {
  left: 49%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__49 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__50 {
  left: 50%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__50 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__51 {
  left: 51%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__51 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__52 {
  left: 52%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__52 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__53 {
  left: 53%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__53 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__54 {
  left: 54%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__54 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__55 {
  left: 55%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__55 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__56 {
  left: 56%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__56 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__57 {
  left: 57%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__57 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__58 {
  left: 58%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__58 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__59 {
  left: 59%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__59 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__60 {
  left: 60%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__60 .dot.colored {
  background-color: #8f2d56;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__61 {
  left: 61%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__61 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__62 {
  left: 62%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__62 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__63 {
  left: 63%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__63 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__64 {
  left: 64%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__64 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__65 {
  left: 65%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__65 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__66 {
  left: 66%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__66 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__67 {
  left: 67%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__67 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__68 {
  left: 68%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__68 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__69 {
  left: 69%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__69 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__70 {
  left: 70%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__70 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__71 {
  left: 71%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__71 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__72 {
  left: 72%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__72 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__73 {
  left: 73%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__73 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__74 {
  left: 74%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__74 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__75 {
  left: 75%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__75 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__76 {
  left: 76%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__76 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__77 {
  left: 77%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__77 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__78 {
  left: 78%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__78 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__79 {
  left: 79%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__79 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__80 {
  left: 80%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__80 .dot.colored {
  background-color: #218380;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__81 {
  left: 81%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__81 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__82 {
  left: 82%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__82 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__83 {
  left: 83%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__83 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__84 {
  left: 84%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__84 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__85 {
  left: 85%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__85 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__86 {
  left: 86%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__86 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__87 {
  left: 87%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__87 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__88 {
  left: 88%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__88 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__89 {
  left: 89%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__89 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__90 {
  left: 90%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__90 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__91 {
  left: 91%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__91 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__92 {
  left: 92%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__92 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__93 {
  left: 93%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__93 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__94 {
  left: 94%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__94 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__95 {
  left: 95%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__95 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__96 {
  left: 96%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__96 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__97 {
  left: 97%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__97 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__98 {
  left: 98%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__98 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__99 {
  left: 99%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__99 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__100 {
  left: 100%;
}
.vefs-milestone-wrapper .milestone-container .milestones.milestone__100 .dot.colored {
  background-color: #73d2de;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/**************************************************************End ProgressBar Milestone*****************************************************************/