﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MoldView_Settings.ascx.cs" Inherits="MainCloud.Dashboard.Modules.MoldID.MoldView.MoldView_Settings" %>

<asp:Label ID="lblddArea" runat="server" Text="Area di destinazione dopo la selezione di uno stampo" AssociatedControlID="ddlArea"></asp:Label>
<mcf:DropDownListArea ID="ddlArea" runat="server"></mcf:DropDownListArea>