﻿
.mpeBkTitolo {
    background-color: whitesmoke;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

.mpeBkLabel {
    background-color: white;
    padding-right: .41667em;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    line-height: 2.28571em;
    color: #333;
}

.mpeAlCn {
    display: inline-block;
    text-align: center !important;
}

.mpeAlSx {
    display: inline-block;
    text-align: left !important;
}

.mpeAlDx {
    display: inline-block;
    text-align: right !important;
}

.nop {
    padding: 0 !important;
    margin: 0 !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.headerDiv {
    display: table;
    width: 100%;
}

    .headerDiv div {
        display: table-cell;
        padding-left: 2px;
        padding-right: 2px;
    }

        .headerDiv div:first-child {
            padding-left: 0 !important;
        }

        .headerDiv div:last-child {
            padding-right: 0 !important;
        }

.nmpd-grid button {
    height: 45px !important;
}

.nmpd-grid .done {
    height: 90px !important;
}

#mpdTableContainer .rgDataDiv, #mpdeTableContainer .rgDataDiv {
    height: 300px !important;
}
