﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="MainCloud.Host.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %></title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" >
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="padding-top: 70px;">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="jquery.ui.combined" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%--<a class="navbar-brand" runat="server" href="~/">Applications</a>--%>
                </div>
                <div class="navbar-collapse collapse">
                    <asp:LoginView runat="server">
                        <AnonymousTemplate>
<%--                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Register">Register</a></li>
                                <li><a runat="server" href="~/Account/Login">Log in</a></li>
                            </ul>--%>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <%--  HOST menu --%>
                            <ul class="nav navbar-nav" runat="server" id="hostMenu" onload="hostMenu_Load">
                                <li><asp:LinkButton ID="lnkBtnBackHost" runat="server" OnClick="lnkBtnBackHost_Click" CausesValidation="false"><i class="fa fa-chevron-left "></i> Indietro</asp:LinkButton></li>
                            </ul>
                            <ul class="nav navbar-nav" runat="server" id="hostMainMenu" onload="hostMainMenu_Load">
                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageUsers"><i class="fa fa-user"></i> Users</mcf:MultitenantHostNavigateLinkButton></li>
<%--                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageRoles"><i class="fa fa-users"></i> Roles</mcf:MultitenantHostNavigateLinkButton></li>--%>
                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageWidgets"><i class="fa fa-puzzle-piece fa-fw"></i> Widgets</mcf:MultitenantHostNavigateLinkButton></li>
                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" Target="_blank" NavigateUrl="~/LocalizationAdmin/index.html"><i class="fa fa-language fa-fw"></i> Traduzioni</mcf:MultitenantHostNavigateLinkButton></li>

                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageCustomers"> Clienti</mcf:MultitenantHostNavigateLinkButton></li>
                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageAgents"> Agenti</mcf:MultitenantHostNavigateLinkButton></li>
                                <li><mcf:MultitenantHostNavigateLinkButton runat="server" RouthPath="ManageResellers"> Rivenditori</mcf:MultitenantHostNavigateLinkButton></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Manage" title="Manage your account"><%: Context.User.Identity.GetUserName()  %></a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="<%$ Resources:Commons,Logoff %>" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <asp:ContentPlaceHolder ID="FooterContent" runat="server">
                </asp:ContentPlaceHolder>
                <p>&copy; <%: DateTime.Now.Year %> - Main Cloud</p>
            </footer>
        </div>
    </form>
</body>
</html>
