﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainOperatorAccess.master.cs" Inherits="MainCloud.DashboardOperator.MainOperatorAccess" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: TenantName + " [" + Page.Title + "] " %></title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- MetisMenu CSS -->
    <link href="~/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <%--<link href="~/bower_components/morrisjs/morris.css" rel="stylesheet">--%>

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <%--<link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />--%>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/fontawesome-iconpicker.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-dialog.css" rel="stylesheet">

    <link href="~/Content/dd.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="~/Content/material/ripples.min.css" rel="stylesheet">

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery"/>
                <asp:ScriptReference Name="jquery.ui.combined" />
                <asp:ScriptReference Name="bootstrap"/>
                <asp:ScriptReference Name="respond"/>
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <asp:HiddenField runat="server" ID="ScrollPosition" /> <%-- x info http://stackoverflow.com/questions/7712555/persist-browser-scroll-position --%>

        <telerik:RadAjaxManager ID="AjaxManagerMaster" runat="server">
        </telerik:RadAjaxManager>

        <%--<asp:UpdateProgress runat="server">
            <ProgressTemplate>
                <div class="loading">Loading&#8230;</div>
            </ProgressTemplate>
        </asp:UpdateProgress>--%>

    <div id="wrapper">

        <div id="page-wrapper" style="margin:0!important;">
            <asp:ContentPlaceHolder ID="SubMenuContent" runat="server">
            </asp:ContentPlaceHolder>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header" style="margin-top: 20px;">
                        <telerik:RadButton runat="server" ID="btnSelectZone" Text="Seleziona zona" OnClick="btnSelectZone_Click"></telerik:RadButton>
                        <%: TenantName %><small> [ <%: Page.Title %> ]</small>
                        <telerik:RadButton runat="server" ID="btnSelectMachine" Text="Seleziona macchina" OnClick="btnSelectMachine_Click"></telerik:RadButton>
                    </h2>

                    <mcf:PopUpDialog ID="dlgSelectZone" runat="server" Title="Zone">
                        <Body>
                            <telerik:RadGrid runat="server" ID="gridSelectZone" AutoGenerateColumns="false" OnNeedDataSource="gridSelectZone_NeedDataSource">
                                <MasterTableView FilterExpression="" Caption="Zone" DataKeyNames="Id">
                                    <Columns>
                                        <telerik:GridBoundColumn DataField="Code" HeaderText="<%$ Resources:Mes,Code %>">
                                        </telerik:GridBoundColumn>
                                        <telerik:GridBoundColumn DataField="Description" HeaderText="<%$ Resources:Mes,Description %>">
                                        </telerik:GridBoundColumn>
                                    </Columns>
                                </MasterTableView>
                                <ClientSettings>
                                    <Selecting AllowRowSelect="True"></Selecting>
                                </ClientSettings>
                            </telerik:RadGrid>
                            <br />
                            <div class="row alDx">
                                <telerik:RadButton runat="server" ID="btnConfirmZone" CssClass="btnActivity" OnClick="btnConfirmZone_Click">
                                    <ContentTemplate>
                                        <center><i class="fa fa-check" aria-hidden="true"></i> <%: GetGlobalResourceObject("Mes","Confirm") %></center>
                                    </ContentTemplate>
                                </telerik:RadButton>
                                <telerik:RadButton runat="server" ID="btnCancelZone" CssClass="btnActivity" OnClick="btnCancelZone_Click">
                                    <ContentTemplate>
                                        <center><i class="fa fa-times" aria-hidden="true"></i> <%: GetGlobalResourceObject("Mes","Cancel") %></center>
                                    </ContentTemplate>
                                </telerik:RadButton>
                            </div>
                        </Body>
                    </mcf:PopUpDialog>
                    <mcf:PopUpDialog ID="dlgSelectMachine" runat="server" Title="Macchine" Width="100%" MarginLeft="0%">
                        <Body>
                            <asp:UpdatePanel runat="server">
                                <ContentTemplate>
                                    <div class="row">
                                        <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                                            <telerik:RadGrid runat="server" ID="gridSelectMachine" AutoGenerateColumns="false" OnNeedDataSource="gridSelectMachine_NeedDataSource"
                                                AllowFilteringByColumn="true">
                                                <MasterTableView FilterExpression="" Caption="Macchine" DataKeyNames="Id,ZoneId" NoMasterRecordsText="Non ci sono macchine">
                                                    <Columns>
                                                        <telerik:GridBoundColumn DataField="Code" HeaderText="<%$ Resources:Mes,Code %>" UniqueName="Code"
                                                            CurrentFilterFunction="Contains" AutoPostBackOnFilter="false" FilterDelay="1000" ShowFilterIcon="false">
                                                        </telerik:GridBoundColumn>
                                                        <telerik:GridBoundColumn DataField="Description" HeaderText="<%$ Resources:Mes,Description %>" AllowFiltering="false">
                                                        </telerik:GridBoundColumn>
                                                        <telerik:GridBoundColumn DataField="Zone.Description" HeaderText="Zona" AllowFiltering="false">
                                                        </telerik:GridBoundColumn>
                                                    </Columns>
                                                </MasterTableView>
                                                <ClientSettings>
                                                    <ClientEvents OnRowSelected="RowSelected" />
                                                    <Scrolling AllowScroll="true" ScrollHeight="500px" />
                                                    <Selecting AllowRowSelect="True"></Selecting>
                                                </ClientSettings>
                                            </telerik:RadGrid>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                            <asp:Panel Width="330px" runat="server" Visible="true">
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="7" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="8" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="9" OnClientClick="MachineFilter(this);return false;" />

                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="4" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="5" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="6" OnClientClick="MachineFilter(this);return false;" />

                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="1" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="2" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Text="3" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="194px" Height="60px" runat="server" Text="0" OnClientClick="MachineFilter(this);return false;" />
                                                <asp:Button AutoPostBack="false" Width="95px" Height="60px" runat="server" Primary="false" Text="Canc" OnClientClick="MachineFilter(this);return false;" />
                                            </asp:Panel>
                                            <br /><br /><br />
                                            <div class="row alDx" style="width:305px;">
                                                <telerik:RadButton runat="server" ID="btnConfirmMachine" CssClass="btnActivity" DisabledButtonCssClass="btnActivityDisabled" OnClick="btnConfirmMachine_Click">
                                                    <ContentTemplate>
                                                        <center><i class="fa fa-check" aria-hidden="true"></i> <%: GetGlobalResourceObject("Mes","Confirm") %></center>
                                                    </ContentTemplate>
                                                </telerik:RadButton>
                                                <telerik:RadButton runat="server" ID="btnCancelMachine" CssClass="btnActivity" OnClick="btnCancelMachine_Click">
                                                    <ContentTemplate>
                                                        <center><i class="fa fa-times" aria-hidden="true"></i> <%: GetGlobalResourceObject("Mes","Cancel") %></center>
                                                    </ContentTemplate>
                                                </telerik:RadButton>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </Body>
                    </mcf:PopUpDialog>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>

            <!-- /.row -->
            <footer>
                <asp:ContentPlaceHolder ID="FooterContent" runat="server">
                </asp:ContentPlaceHolder>
                <p>&copy; <%: DateTime.Now.Year %> Main Cloud</p>
            </footer>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    </form>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="<%=ResolveUrl("~/bower_components/metisMenu/dist/metisMenu.min.js")%>"></script>

    <!-- Morris Charts JavaScript -->
    <%--<script src="<%=ResolveUrl("~/bower_components/raphael/raphael-min.js")%>"></script>
    <script src="<%=ResolveUrl("~/bower_components/morrisjs/morris.min.js")%>"></script>--%>

    <!-- Custom Theme JavaScript -->
    <script src="<%=ResolveUrl("~/dist/js/sb-admin-2.js")%>"></script>

    <script src="<%=ResolveUrl("~/Scripts/jquery-migrate-3.0.0.js")%>"></script>

    <%--<script src="<%=ResolveUrl("~/Scripts/bootstrap-switch.min.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/fontawesome-iconpicker.min.js")%>"></script>--%>
    <script src="<%=ResolveUrl("~/Scripts/bootstrap-dialog.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/jquery.dd.min.js")%>"></script>

    <script src="<%=ResolveUrl("~/Scripts/material/material.min.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/material/ripples.min.js")%>"></script>

    <script src="<%=ResolveUrl("~/Scripts/sly.min.js")%>"></script>
     
    <script src="<%=ResolveUrl("~/Scripts/session-cookies.js")%>"></script>

    <script type = "text/javascript">
 
        $(function () {
            $.material.init();        

            //Retrieve and use the existing scroll position from the hidden field
            var scrollPosition = $('#<%= ScrollPosition.ClientID %>').val();
            $(window).scrollTop(scrollPosition);

            $(window).scroll(function () {
                var currentScrollPosition = $(window).scrollTop();
                $('#<%= ScrollPosition.ClientID %>').val(currentScrollPosition);
            });

            $("#toggleSideBarAreaMenu").on("click", function () {
                var sidebarStatus = SessionCookies.get('toggle_hide_sidedar');
                sidebarStatus.toggleHideSidedarStatus = !sidebarStatus.toggleHideSidedarStatus;
                SessionCookies.set('toggle_hide_sidedar', sidebarStatus);
                $("#wrapper").toggleClass("hide-sidebar");
            });

            var sidebarStatus = SessionCookies.get('toggle_hide_sidedar');
            if (sidebarStatus == undefined) {
                sidebarStatus = { toggleHideSidedarStatus: false };
                SessionCookies.set('toggle_hide_sidedar', sidebarStatus);
            }
            if (sidebarStatus.toggleHideSidedarStatus) {
                $("#wrapper").addClass("hide-sidebar");
            }
        });

        function MachineFilter(sender) {
            var grid = $find("<%=gridSelectMachine.ClientID %>");
            grid.get_masterTableView()._filterExpressions.clear();

            var txtValue = $("#ctl00_dlgSelectMachine_gridSelectMachine_ctl00_ctl02_ctl01_FilterTextBox_Code").val();
            var char = sender.value;
            if (char == "Canc") {
                if (txtValue.length > 0) {
                    var filterValue = txtValue.substring(0, txtValue.length - 1);
                    grid.get_masterTableView().filter("Code", filterValue, Telerik.Web.UI.GridFilterFunction.Contains, true);
                }
            }
            else {
                var filterValue = txtValue + char;
                grid.get_masterTableView().filter("Code", filterValue, Telerik.Web.UI.GridFilterFunction.Contains, true);
            }
        }

        function RowSelected(sender, eventArgs) {
            var btn = $find("<%= btnConfirmMachine.ClientID %>");
            btn.set_enabled(true);
        }
    </script>

</body>
</html>