﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CounterActive_Settings.ascx.cs" Inherits="MainCloud.Dashboard.Modules.Energy.CounterActive.CounterActive_Settings" %>

<asp:Label Text="Parametro:" runat="server" />
<asp:DropDownList runat="server" ID="ddlParamToRead" />