﻿.btnSettings {
  /*padding: 11px 11px 13px 13px;*/
  outline: none;
  border-radius: 50%;
  background: #007fed;
  color: #fff;
  font-size: 24px;
  position: relative;
  /*display: block;*/
  /*left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;*/
  transition: transform 0.25s;
}
.btnSettings:hover {
  text-decoration: none;
  background: #2198ff;
}
.btnSettings.active {
  transform: rotate(135deg);
  transition: transform 0.5s;
}