﻿.cpeBkTitolo {
    background-color: whitesmoke;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

.cpeBkLabel {
    background-color: white;
    padding-right: .41667em;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    line-height: 2.28571em;
    color: #333;
}

.cpeAlCn {
    display: inline-block;
    text-align: center !important;
}

.cpeAlSx {
    display: inline-block;
    text-align: left !important;
}

.cpeAlDx {
    display: inline-block;
    text-align: right !important;
}

#updateContainer button, .inputBtn {
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    font-size: 1em;
    border-radius: .25em;
}

#updateContainer button {
    height: 60px;
    width: 100%;
}

    #updateContainer button:active, .inputBtn:active {
        background-color: #CFCFCF !important;
        box-shadow: 0 3px 5px rgba(0,0,0,0.125) inset;
        outline: 0 !important;
    }

    .inputBtn:hover, .inputBtn::selection, .inputBtn:focus .inputBtn::-moz-selection,
    #updateContainer button:hover, #updateContainer button::selection, #updateContainer button:focus #updateContainer button::-moz-selection {
        background-color: #E0E0E0 !important;
        outline: 0 !important;
    }

    #updateContainer button:not(:focus), .inputBtn:not(:focus) {
        background-color: #fff !important;
    }

.inputLabel {
    cursor: pointer;
}

.nop {
    padding: 0 !important;
    margin: 0 !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pr-10 {
    padding-right: 10px !important;
}
