﻿
.mpeBkTitolo {
    background-color: whitesmoke;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

.mpeBkLabel {
    background-color: white;
    padding-right: .41667em;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    line-height: 2.28571em;
    color: #333;
}

.mpeAlCn {
    display: inline-block;
    text-align: center !important;
}

.mpeAlSx {
    display: inline-block;
    text-align: left !important;
}

.mpeAlDx {
    display: inline-block;
    text-align: right !important;
}

#panelOkNoPadContainer button, .btn-c {
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    font-size: 1em;
    border-radius: .25em !important;
    height: 45px;
    width: 380px;
}

    #panelOkNoPadContainer button:active, .btn-c:active {
        background-color: #CFCFCF !important;
        box-shadow: 0 3px 5px rgba(0,0,0,0.125) inset;
        outline: 0 !important;
    }

    #panelOkNoPadContainer button:hover, #panelOkNoPadContainer button::selection, #panelOkNoPadContainer button:focus, #panelOkNoPadContainer button::-moz-selection,
    .btn-c:hover, .btn-c::selection, .btn-c:focus, .btn-c::-moz-selection {
        background-color: #E0E0E0 !important;
        outline: 0 !important;
    }

    #panelOkNoPadContainer button:not(:focus), .btn-c:not(:focus) {
        background-color: #fff !important;
    }

.inputLabel {
    cursor: pointer;
}

.nop {
    padding: 0 !important;
    margin: 0 !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.headerDiv {
    display: table;
    width: 100%;
}

    .headerDiv div {
        display: table-cell;
        padding-left: 2px;
        padding-right: 2px;
    }

        .headerDiv div:first-child {
            padding-left: 0 !important;
        }

        .headerDiv div:last-child {
            padding-right: 0 !important;
        }

.nmpd-grid button {
    height: 45px !important;
}

.nmpd-grid .done {
    height: 90px !important;
}

/* rgEdit */

.rgEditForm {
    padding: 7px;
}

    .rgEditForm table {
        table-layout: fixed;
        width: 100%;
        max-width: 100%;
    }

    .rgEditForm tr td:first-child {
        width: 130px;
    }


    .rgEditForm label {
        font-size: 14px;
    }

.rgEditFormContainer {
    padding: 10px;
}

    .rgEditFormContainer td {
        padding-left: 10px;
    }

.rgEditForm .RadInput_Bootstrap .riTextBox, .rgEditForm .RadInputMgr_Bootstrap {
    margin-bottom: 1px;
    padding-left: .35714em;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 28px;
}

.RadGrid_Bootstrap .rgRow [type="text"], .RadGrid_Bootstrap .rgAltRow [type="text"], .RadGrid_Bootstrap .rgEditForm [type="text"] {
    padding: 0 .5em;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: .3em;
}

.rgEditForm .rgIcon:before {
    width: 100%;
    height: 100%;
}

.rgEditForm .rgUpdateIcon:before {
    content: "\e037";
}

.rgEditForm .rgCancelIcon:before {
    content: "\e038";
}

.rgEditForm .rgIcon:before {
    font-family: "TelerikWebUI";
    text-align: center;
    display: block;
}

.rgEditForm .rgActionButton {
    width: 31.98px !important;
    height: 31.98px !important;
}
