﻿/** Customize the demo canvas */
.qsf-demo-canvas {
    background: url("images/demo-bg.jpg") 0 0 no-repeat;
    background-position: -50px 35px;
    position: relative;
}
 
 
/** Customize the list box */
.qsf-demo-canvas .new-employees {
    position: absolute;
}
.qsf-demo-canvas .new-employees .RadListBox {
    z-index: 500;
}
.qsf-demo-canvas .new-employees .RadListBox .rlbHeader {
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
 
 
.qsf-demo-canvas .new-employees img,
.qsf-demo-canvas .new-employees .employee-title {
    display: inline-block;
    vertical-align: top;
}
 
.qsf-demo-canvas .new-employees .employee-title {
    padding: 10px;
}
 
 
/** Customize the org chart */
div.RadOrgChart .rocItem {
    width: 134px;
    height: auto;
    min-height: 150px;
}
 
div.RadOrgChart .rocItemWrap {
    width:140px;
}
 
div.RadOrgChart .rocItemTemplate {
    height: auto;
}
.pseudoImage {
    margin: 0 0 10px;
    width: 90px;
    height: 110px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}
 
.dropClue {
    position: absolute;
    z-index: 600;
    display: none;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden;
    background: url("images/actionDragDropDark.png");
    background-position: 0 -32px;
}
 
.noDropClue {
    position: absolute;
    z-index: 600;
    display: none;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden;
    background: url("images/actionDragDropDark.png");
    background-position: 0 -16px;
}
.rlbDragClue {
    margin-top: 20px;
    margin-left: 40px;
}
.rocItemTemplate {
    position: relative;
    white-space: normal;
}
.rocRemoveItemButton {
    margin: 0;
    padding: 0;
    width: 14px;
    height: 14px;
    border: 1px inset #999999;
    border-radius: 2px;
    background: #cccccc url("images/roc-remove-item-bg.png") center center no-repeat;
    text-indent: -999em;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: auto;
    right: 6px;
}