﻿.tableLight {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /*opacity: 0.3;*/ /* makes colors less bright by default */
    margin: 0 auto;
    display: inline-block;
}

.btnActivity {
    min-width: 125px;
    min-height: 40px;
    border: 1px solid;
    font-weight: bold !important;
    background-color: #dddddd !important;
    border-color: black !important;
    text-align: -webkit-center;
}

.alDx {
    width: 100%;
    display: inline-block;
    text-align: right !important;
}