﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MappaAssistenza_View.ascx.cs" Inherits="MainCloud.Dashboard.Modules.MappaAssistenza.MappaAssistenza_View" %>

<asp:Image runat="server" ID="ImageItalia" Width="40%" ImageUrl="~/Dashboard/Modules/AssetList/AssetImages/Italia.jpg" />