﻿.formRow {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    height: 270px;
    padding-left: 16px;
}
 
.demo-container fieldset {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-top: 20px;
}
.selectSeparator{
    height: 7px;
    line-height: 7px;
}

.myClassSelectedRow .rgSelectedRow td
{
	background-color:#91cef7 !important;
}