﻿<%@ Page Language="C#" MasterPageFile="~/Dashboard/Edit.Master" AutoEventWireup="true" CodeBehind="PageEdit.aspx.cs" Inherits="MainCloud.Dashboard.PageEdit" %>
<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="Server">
    <asp:PlaceHolder ID="ctrlToEdit" runat="server"></asp:PlaceHolder>
</asp:Content>