﻿.btnConfig {
    padding: 10px;
    min-height: 0;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 1;
    font-family: inherit;
    font-weight: bold;
    border: 1px solid #0487c4;
    background-color: #0487c4;
    border-radius: 2px;
    color: #ffffff;
}