﻿.itemDiv,
.selectedDiv {
    margin-left: 11px;
}
 
.selectedDiv {
    color: #58954D;
}
 
.pagerStyle {
    margin-bottom: 10px;
}
 
.radUploadStyle {
    float: right;
    margin-right: 77px;
}
 
.RadForm a.rfdSkinnedButton, .RadForm a.rfdSkinnedButton * {
    cursor: default;
    font: 12px "Segoe UI",Arial,Helvetica,sans-serif !important;
    text-align: center;
    white-space: nowrap;
}
 
.fieldset {
    float: left;
    /*width: 49%;*/
    min-height: 210px;
    padding: 8px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
 
html .fieldset.fieldsetInsert {
    height: auto;
    width: 100%;
    clear: both;
    box-sizing: border-box;
}
 
.fieldset:first-child {
    margin-right: 8px;
}
 
div.RadListView tr.rlvI td,
div.RadListView tr.rlvIEmpty td {
    border: 0 none;
}
 
div.RadListView {
    /*overflow: hidden;*/
    border: 0 none;
}

div.rgHeader{
    height:30px !important;
}
 
#FiledSet1 {
    padding: 4px 8px 10px;
}
 
.btnEdit,
.btnDelete {
    min-width: 70px;
    float: left;
}
 
.btnDelete {
    float: right;
}
 
div.RadListView tr.rlvI > td {
    padding-right: 0;
}
 
.RadListView .rlvI > td:first-child {
    vertical-align: top;
}
 
.dataTable {
    height: 200px;
    width: 100%;
    border-spacing: 0;
}
 
    .dataTable td {
        padding: 0;
    }
 
.mainFieldset {
    max-width: 946px;
}
 
    .commandTable > table,
    .mainFieldset > table {
        width: 100%;
        border-spacing: 0;
    }
 
    .commandTable td,
    .mainFieldset td {
        padding: 0;
    }
 
.clearFix {
    clear: both;
}
 
.commandTable {
    width: 100%;
}
 
.insertCell {
    width: 25%;
}
 
.sortCell {
    text-align: right;
    width: 75%;
}
 
div.RadForm.rfdRadio input[type="radio"], .RadForm.rfdCheckbox input[type="checkbox"] {
    vertical-align: middle;
}
 
.sortLabel {
    padding-right: 5px;
}
 
.itemTable {
    width: 100%;
    border-spacing: 0;
}
 
.innerItemTable {
    border-spacing: 0;
}
 
.itemCellLabel {
    width: 25%;
}
 
.itemCellInfo {
    width: 60%;
}
 
.image {
    width: 100%;
    padding-left: 10px;
    padding-right: 0;
    text-align: right;
}
 
.dataEditTable {
    height: 80%;
    width: 100%;
    border-spacing: 0;
}
 
    .dataEditTable td {
        padding: 0;
    }
 
.editTable {
    width: 95%;
    margin-bottom: 5px;
    border-spacing: 3px;
}
 
.editItemCellLabel {
    width: 25%;
}
 
.editItemCellInfo {
    width: 75%;
}
 
.editImage {
    width: 25%;
    padding-left: 10px;
    text-align: right;
}
 
.asyncUpload {
    float: left;
    width: 229px;
}
 
.commandButton,
.insertCommandButton {
    width: 250px;
    text-align: right;
    padding-top: 20px;
}
 
    .commandButton .RadButton,
    .insertCommandButton .RadButton {
        margin-left: 10px;
    }
 
.dataInsertTable {
    height: 305px;
    width: 100%;
    border-spacing: 0;
}
 
    .dataInsertTable td {
        padding: 0;
    }
 
.insertAsyncUpload {
    float: left;
    width: 261px;
}
 
.noRecordsFieldset {
    width: 800px;
}
 
.RadForm_Material .itemFieldset {
    height: 332px;
}
 
.RadForm_Bootstrap .itemFieldset {
    height: 310px;
}
 
.editFieldSet {
    margin-top: 4px;
}