﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Summary_Settings.ascx.cs" Inherits="MainCloud.Dashboard.Modules.SOL.Summary.Summary_Settings" %>

<asp:Label ID="lblddArea" runat="server" Text="Area di destinazione dopo l aselezione di un Asset" AssociatedControlID="ddlArea"></asp:Label>
<mcf:DropDownListArea ID="ddlArea" runat="server"></mcf:DropDownListArea>