﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Default.ascx.cs" Inherits="MainCloudFramework.Dashboard.Templates.Default" %>


                
<%--                <cms:WebPartZone ID="Centrale" runat="server">
                    <ZoneTemplate>
                    </ZoneTemplate>
                </cms:WebPartZone>--%>
    <%--
                <cms:WebPartZone ID="WebPartZone2" runat="server">
                    <ZoneTemplate>
                    </ZoneTemplate>
                </cms:WebPartZone>

                <cms:WebPartZone ID="WebPartZone3" runat="server">
                    <ZoneTemplate>
                    </ZoneTemplate>
                </cms:WebPartZone>

                <cms:WebPartZone ID="WebPartZone4" runat="server">
                    <ZoneTemplate>
                    </ZoneTemplate>
                </cms:WebPartZone>--%>
<%--<link href="/Areas/Layout/BaseLayoutStyle.css" rel="stylesheet">--%>

<div class="container-fluid container_layout">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <mcf:WidgetWebPartZone ID="zone_1" runat="server">
                <ZoneTemplate>
                </ZoneTemplate>
            </mcf:WidgetWebPartZone>
        </div>
    </div>
</div>